*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Gabarito',sans-serif;
}

.navbar{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid #7e7e7e 1px;
    gap: 20px;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: white;
}
.navbar__s1__title{
    color: #A435F0;
}
.navbar__s2{
    padding: 10px;
    border: solid black 1px;
    border-radius: 30px;
    width: 60%;
    display: flex;
    gap: 10px;
    align-items: center;
}
.navbar__s2>input{
    border: none;
    width: 100%;
    font-size: 16px;
}
.navbar__s2>input:focus{
   outline: none;
}
.navbar__s3{
    display: flex;
    gap: 25px;
    align-items: center;
}
.navbar__s4{
    display: none;
}
.navbar__s4>i{
    width: 150%;
    height: auto;
    object-fit: contain;
}

.mylearning{
    position: relative;
}

.mylearning__popup{
    position: absolute;
    top: 150%;
    right: 0;
    width: 150px;
    /* height: 80px; */
    padding: 10px;
    background-color: white;
    border: solid 1px black;
    display: none;
}

.mylearning:hover>.mylearning__popup{
    display: block;
}

.categories{
    display: flex;
    padding: 10px;
    justify-content: space-around;
    border-bottom: solid #7e7e7e 1px;
}

.categories p{
    background-color: #A435F0;
    color: white;
    padding: 10px;
    border-radius: 20px;
    border: solid #A435F0 1px;
}
.categories p:hover{
    background-color: transparent;
    border: solid #A435F0 1px;
    color: black;
    transition: 300ms;
    cursor: pointer;
}

.sale-image{
   position: relative;
}
.sale-image>img{
    width: 100%;
}
.sale-image__offer{
    position: absolute;
    width: 25%;
    /* height: 150px; */
    background-color: white;
    border: solid #72D8BA 1px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    left: 10%;
    top: 10%;
    border-radius: 30px;
    font-size: 20px;
    text-align: center;
    padding: 35px 30px;
    animation-name: pop;
    animation-duration: 2s;
    opacity: 0;
    animation-fill-mode: forwards;
}

@keyframes pop {
    0%{
        transform: scale(0);
        opacity: 0;
    }

    100%{
        transform: scale(1);
        opacity: 1;
    }
}





.recommended{
    padding: 20px;
}

.recommended__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.course-card{
    flex-grow: 1;
    flex-basis: 20%;
    margin: 5px;

}

.course-card:hover{
    background-color: rgb(231, 231, 231);
    outline: solid rgb(190, 190, 190) 1px;
}

.course-card img{
    height: 160px;
    width: 100%;
}

.topics{
    padding: 10px;
}

.topics__container{
    display: flex;
    gap: 10px;
    margin-top: 10px;
    flex-wrap: wrap;
}

.topics__container p{
    border: solid gray 2px;
    padding: 10px;
    flex-grow: 1;
    flex-basis: 25%;
    border-radius: 8px;
}

.topics__container p:hover{
    background-color: rgb(231, 231, 231);
}

.popular{
    padding: 10px;
}
.popular__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}

.footer{
    background-color: #202230;
    color: white;
    padding: 10px 38px;
}

.footer__one{
    display: flex;
    gap: 20px;
    padding: 10px;
}

.footer__one__s1{
    display: flex;
    flex-direction: column;
}

.footer__one__s2{
    display: flex;
    flex-direction: column;
}

.footer__two{
    margin: 20px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.footer__one p{
    margin: 10px;
}

@media screen and (max-width: 1000px) {
    .sale-image__offer{
        font-size: 12px;
        padding: 25px 20px;
    }
}


@media screen and (max-width: 800px) {
    body{
        font-size: 10px;
    }
}

@media screen and (max-width: 700px) {
    .course-card{
        flex-basis: 40%;
    }
    .categories{
        display: none;
    }
    .navbar__s2, .navbar__s3{
        display: none;
    }
    .navbar__s4{
        display: block;
    }
    .sale-image__offer{
        font-size: 10px;
        padding: 20px 15px;
    }

}

@media screen and (max-width: 490px) {
    .sale-image__offer{
        padding: 5px;
        font-size: 8px;
    }
    .sale-image__text>p{
        display: none;
    }
}