*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Gabarito',sans-serif;
}

.navbar{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid #7e7e7e 1px;
    gap: 20px;
    align-items: center;
}
.navbar__s1__title{
    color: #A435F0;
}
.navbar__s2{
    padding: 10px;
    border: solid black 1px;
    border-radius: 30px;
    width: 60%;
    display: flex;
    gap: 10px;
    align-items: center;
}
.navbar__s2>input{
    border: none;
    width: 100%;
    font-size: 16px;
}
.navbar__s2>input:focus{
   outline: none;
}
.navbar__s3{
    display: flex;
    gap: 10px;
    align-items: center;
}

.categories{
    display: flex;
    padding: 10px;
    justify-content: space-around;
    border-bottom: solid #7e7e7e 1px;
}

.categories p{
    background-color: #A435F0;
    color: white;
    padding: 10px;
    border-radius: 20px;
}
.categories p:hover{
    background-color: #7127a3;

}

.sale-image{
    display: flex;
    justify-content: center;
}
.sale-image>img{
    width: 100%;
}

.recommended{
    padding: 20px;
}

.recommended__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.course-card{
    width: 280px;

}

.course-card:hover{
    background-color: rgb(231, 231, 231);
    outline: solid rgb(190, 190, 190) 1px;
}

.course-card img{
    height: 160px;
    width: 100%;
}

.topics{
    padding: 10px;
}

.topics__container{
    display: flex;
    gap: 10px;
    margin-top: 10px;
    flex-wrap: wrap;
}

.topics__container p{
    border: solid gray 2px;
    padding: 10px;
    flex-grow: 1;
    flex-basis: 25%;
    border-radius: 8px;
}

.topics__container p:hover{
    background-color: rgb(231, 231, 231);
}

.popular{
    padding: 10px;
}
.popular__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}

.footer{
    background-color: #202230;
    color: white;
    padding: 10px 38px;
}

.footer__one{
    display: flex;
    gap: 20px;
    padding: 10px;
}

.footer__one__s1{
    display: flex;
    flex-direction: column;
}

.footer__one__s2{
    display: flex;
    flex-direction: column;
}

.footer__two{
    margin: 20px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.footer__one p{
    margin: 10px;
}
.footer__one p:hover{
    
}
